*{
    margin: 0;
    padding: 0;
}
body{ 
    background-image: url(../img/logo-color.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 65%;
}
#login, #regDiv{
    text-align: center;
}
form{
    display:block;
    /*background-color: rgb(119, 99, 55);
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgb(192, 155, 76);*/
    color: white;
    text-align: right;
    width: 30%;
    font-size: x-large;
    padding: 48px 0 5px 0;
    margin:30% 0 0 27%;
}
input{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.signIn{
    color: red;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}
.btn{
    background-color: beige;
    cursor: pointer;
    border: 2px solid rgb(202, 202, 127);
    border-radius: 6px;
    font-weight: normal;
    font-style: normal;
    font-weight: bold;
}