
#login{
    background-color: rgb(119, 99, 55);
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgb(192, 155, 76);
    width: 30%;
    font-size: x-large;
    text-align: center;
    padding: 48px 0 50px 0;
    margin:26% 0 0 35%;
}
input{
    border-radius: 5px;
    padding: 10px;
    margin: 16px;
}
.dayCss{
    width: 40%;
    background-color: rgb(195, 195, 224);
    border: 1px solid silver;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 5px auto;
}
.times{
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: 9px auto;
}
.Time{
    display: inline-block;
    color: white;
    border-radius: 3px;
    padding: 6px;
    margin: 5px;
}
.cBooked{
    background-color: rgb(171, 171, 238 );
    cursor: pointer;
}
.cBooked:hover{
    background-color: rgb(128, 128, 245);
}
.sBooked{
    background-color: gray;
    cursor: pointer;
}
.booked{
    background-color: rgb(56, 56, 66);
    cursor:default;
}
.tSave{
    margin: 0 48%;
}
.cardBox{
    text-align: center;
}
#card{
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    height: 11rem;
    width: 14rem;
    margin: 6rem;
}
.woman{
    background-color: rgb(248, 181, 192);
    box-shadow: 5px 7px 7px rgb(243, 104, 130);
}
.man{
    background-color: rgb(131, 48, 48);
    box-shadow: 5px 7px 7px brown;
}
#btn{
    background-color: beige;
    cursor: pointer;
    border: 2px solid rgb(202, 202, 127);
    border-radius: 6px;
    font-weight: normal;
    font-style: normal;
    font-weight: bold;
    padding: 10px;
}
