@import url('https://fonts.googleapis.com/css2?family=Mirza&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mirza', cursive;
}
body{
    background-image:url(/img/bgwp.jpg);
    /*background-image: url(/public/img/bgwp.jpg);*/
    background-size: contain;
}
/*header{
    display: block;
    width: 30%;
    margin: 0 auto;
}
*/
.right-top{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: large;
    float: right;
    padding: 8px;
    margin-left: 10px;
}
.username{
    background-color: rgba(51, 26, 26, 0.6);
    border-radius: 13px;
    margin-top: 13px;
    padding: 10px;
}
.icon-logout{
    background-color: rgba(51, 26, 26, 0.6);
    border-radius: 13px;
    font-size: xx-large;
    cursor: pointer;
    padding: 5px;
    margin: 5px 0 0 5px;
}
.navlist{
    display: flex;
    list-style:none
}
.container-fluid{
    width: 95%;
}

.nav-link{
    border-radius: 18px;
    position: relative;
    text-align: center;
    color: white;
    font-size: 27px;
    padding: 0 0 5px 0;
    margin: 15px;
}
.nav-link:hover{
    background-color: rgb(255, 255, 255, 0.8);
    color: brown;
}
.hb_icon{
    display: none;
}
.container{
    font-family: 'Poppins', sans-serif;
}
.dayCss{
    width: 40%;
    background-color: rgb(222,184,135);
    border: 2px solid silver;
    border-radius: 5px;
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 5px auto;
}
.times{
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    width: 60%;
    text-align: center;
    padding: 8px;
    margin: 43% 0 0 20%;
}
.times #prices{
    margin-top: 320px;
}
.Time{
    display: inline-block;
    color: white;
    border-radius: 3px;
    padding: 6px;
    margin: 5px;
}
.cBooked{
    background-color: rgb(206, 162, 106);
    cursor: pointer;
}
.cBooked:hover{
    background-color: rgb(204, 182, 153);
}
.sBooked{
    background-color: gray;
    cursor: pointer;
}
.booked{
    background-color: rgb(56, 56, 66);
    cursor:default;
}
.tSave{
    padding: 13px 35px 13px 35px;
    font-size: x-large;
}

.cardBox{
    text-align: center;
}
#card{
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    height: 11rem;
    width: 14rem;
    margin: 6rem;
}

#btn{
    background-color: beige;
    cursor: pointer;
    border: 2px solid rgb(202, 202, 127);
    border-radius: 6px;
    font-weight: normal;
    font-style: normal;
    font-weight: bold;
    margin: 15px 0 15px 47%;
}
#footer{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
}
#footer ul{
    margin-left: 140px;
}
#footer ul ol{
    list-style: none;
    font-weight: bold;
}
#footer ul ol li, a{
    color: rgb(54, 53, 53);
    font-size: large;
    font-weight: normal;
    text-decoration: none;
    padding: 3px;
    margin-left: 30px;
}
#footer p{
    color: gray;
    margin: 0 0 0 43%;
}
@media only screen and (max-width: 1900px) {
    .pic-ctn{
        margin: 0 1%;
    }
    .times{
        margin: 50% 0 0 20%;
    }
}
@media (max-width: 1650px) {
    
    .times{
        margin: 45% 0 0 20%;
    }
}
@media (max-width: 1500px) {
    
    .times{
        margin: 65% 0 0 20%;
    }
}
@media (max-width: 1400px) {
    
.pic-ctn{  
    margin: 0 -6%;
}
.pic-ctn > img{
    max-height: 430px ;
}
}
@media (max-width: 1200px) {
    .times{
        margin: 105% 0 0 20%;
    }
    .pic-ctn{  
        margin: 0 -17%;
    }
}
@media (max-width: 1000px) {
    
    .pic-ctn{  
        max-height: 270px !important;
        margin: 0 9%;
    }
    .pic-ctn > img{
        height: 250px !important;
    }
}
@media (max-width: 800px) {
    header{
        width: 80%;
    }
    .nav-link{
        font-size: 16px;
    }
    .right-top{
        font-size: small;
    }
    .right-top .username{
        padding: 6px;
    }
    .right-top .icon-logout{
        font-size: large;
    }
    .pic-ctn{
        margin: 0 4%;
    }
    .pic-ctn > img{
        max-height: 300px !important;
    }
    .icon{
        display: block;
    }
    .table{
        display: inline-block !important;
        width: 27% !important;
        left: 0 !important;
        margin: 10px !important;
    }
    .table .heading{
        text-align: center;
        margin-bottom: 10px;
    }
    .icon{
        margin: 0 40%;
    }
    .block{
        display: none !important;
    }
    .times{
        margin: 155% 0 0 0;
    }
}
@media (max-width: 570px){
    .pic-ctn{
        margin: 0 -8%;
    }
}
@media (max-width: 450px){
    header{
        width: 95%;
        margin: 0 auto;
    }
    .nav-cont{
        align-items: center;
        width: 100%;
    }
    .nav{
        display: block;
    }
    .right-top{
        float: none;
        margin: 0 41%;
    }
    .username{
        display: none;
    }
    .hb_icon{
        display: block;
        color: white;
        margin: 0 0 0 46%;
    }
    .pic-ctn{
        margin: 0 -13%;
    }
    .pic-ctn > img{
        max-height: 180px !important;
    }
    .table{
        display: inline-block !important;
        width: 27% !important;
        left: 0 !important;
        margin: 10px !important;
    }
    .table .heading{
        text-align: center;
        margin-bottom: 10px;
    }
    .table a{
        margin: 38px;
    }
    .block{
        display: none;
    }
    .times{
        display: flow-root;
        width: 100%;
        margin: 0 auto;
    }
}